@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/* DOM */
html {
    scroll-behavior: smooth;
}

body {
    background-image: repeating-linear-gradient(135deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(83, 220, 200), rgb(58, 78, 174));
    min-height: fit-content;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}

header {
    position: fixed;
    width: calc(50px + 3%);
    height: calc(100vh - 50px);
    margin: 25px;
    z-index: 500000;
    transition: 500ms ease-in;
}

nav {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

ul {
    position: absolute;
    display: grid;
    height: 100%;
    width: fit-content;
    grid-template-rows: repeat(4, 25%);
    align-items: center;
    justify-content: center;
}

li {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

nav ul li a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding-inline: calc(15px + 5%);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* NAV */
.menus {
    position: absolute;
    right: 0;
    max-width: 95%;
    width: 100%;
    height: 110%;
    opacity: 100%;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 100ms;
}

.acceuil {
    background-image: repeating-linear-gradient(135deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(83, 220, 200), rgb(58, 78, 174));
}

.hobbies {
    background: linear-gradient(to left, rgb(170, 57, 157), rgb(80, 52, 80));
}

.project {
    background-image: linear-gradient(45deg, rgb(86, 95, 151) 0%, rgb(86, 95, 151) 71%, rgb(105, 118, 165) 71%, rgb(105, 118, 165) 91%, rgb(125, 141, 179) 91%, rgb(125, 141, 179) 99.9%, rgb(144, 165, 193) 81%, rgb(144, 165, 193) 85%, rgb(164, 188, 207) 85%, rgb(164, 188, 207) 90%, rgb(183, 211, 221) 90%, rgb(183, 211, 221) 100%);

}

.contact {
    background: linear-gradient(to right, #0f3443, #34e89e);
}

/* SELECTOR */

li::after,
ul::before,
#s1 h1::after,
.phrase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


li::after {
    border: 2px solid white;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 100px;
    border-radius: 50%;
    z-index: -1;
}

ul li:nth-child(1)::after {
    background-image: repeating-linear-gradient(135deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(45deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(210, 79%, 75%, 0.05) 0px, hsla(210, 79%, 75%, 0.05) 1px, transparent 1px, transparent 11px, hsla(210, 79%, 75%, 0.05) 11px, hsla(210, 79%, 75%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(83, 220, 200), rgb(58, 78, 174));

}

ul li:nth-child(2)::after {
    background: linear-gradient(to left, rgb(170, 57, 157), rgb(80, 52, 80));
}

ul li:nth-child(3)::after {
    background-image: linear-gradient(45deg, rgb(86, 95, 151) 0%, rgb(86, 95, 151) 63%, rgb(105, 118, 165) 63%, rgb(105, 118, 165) 75%, rgb(125, 141, 179) 75%, rgb(125, 141, 179) 81%, rgb(144, 165, 193) 81%, rgb(144, 165, 193) 85%, rgb(164, 188, 207) 85%, rgb(164, 188, 207) 90%, rgb(183, 211, 221) 90%, rgb(183, 211, 221) 100%);
}

ul li:nth-child(4)::after {
    background: linear-gradient(to right, #0f3443, #34e89e);
}

li:hover {
    cursor: pointer;
}

/* TEXT titre */

.phrase p span {
    position: absolute;
    transform-origin: 0px 150px;
    color: white;
    font-size: 3em;
    font-family: 'Saira', sans-serif;
    letter-spacing: 2ch;
    background: linear-gradient(0deg, #000000, rgb(0, 123, 255));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phrase {
    position: relative;
    width: 200px;
    height: 300px;
    transform-origin: 50%;
    animation: rot 10s linear infinite;
    border-radius: 50%;
}

.phrase::after {
    background: radial-gradient(rgba(0, 51, 255, 0.2), transparent);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@keyframes rot {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* FLECHE */

#fleche_b {
    position: relative;
    animation: fleche 1s alternate-reverse infinite ease;
}

#accueil {
    position: absolute;
    width: 100%;
    font-size: 4em;
    font-family: 'Titillium Web', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(164deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 50%, rgba(222, 222, 222, 0.08) 50%, rgba(222, 222, 222, 0.08) 100%), linear-gradient(73deg, rgba(182, 182, 182, 0.02) 0%, rgba(182, 182, 182, 0.02) 50%, rgba(216, 216, 216, 0.02) 50%, rgba(216, 216, 216, 0.02) 100%), linear-gradient(215deg, rgba(27, 27, 27, 0.09) 0%, rgba(27, 27, 27, 0.09) 50%, rgba(243, 243, 243, 0.09) 50%, rgba(243, 243, 243, 0.09) 100%), linear-gradient(236deg, rgba(242, 242, 242, 0.05) 0%, rgba(242, 242, 242, 0.05) 50%, rgba(16, 16, 16, 0.05) 50%, rgba(16, 16, 16, 0.05) 100%), linear-gradient(256deg, rgba(170, 170, 170, 0.07) 0%, rgba(170, 170, 170, 0.07) 50%, rgba(209, 209, 209, 0.07) 50%, rgba(209, 209, 209, 0.07) 100%), linear-gradient(126deg, rgba(204, 204, 204, 0.1) 0%, rgba(204, 204, 204, 0.1) 50%, rgba(26, 26, 26, 0.1) 50%, rgba(26, 26, 26, 0.1) 100%), linear-gradient(61deg, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.01) 50%, rgba(13, 13, 13, 0.01) 50%, rgba(13, 13, 13, 0.01) 100%), linear-gradient(56deg, rgba(210, 210, 210, 0.05) 0%, rgba(210, 210, 210, 0.05) 50%, rgba(79, 79, 79, 0.05) 50%, rgba(79, 79, 79, 0.05) 100%), linear-gradient(226deg, rgba(62, 62, 62, 0.08) 0%, rgba(62, 62, 62, 0.08) 50%, rgba(73, 73, 73, 0.08) 50%, rgba(73, 73, 73, 0.08) 100%), linear-gradient(90deg, rgb(236, 2, 158), rgb(161, 2, 79));
}

img:hover {
    cursor: pointer;
}

#fleche_b:hover {
    animation-play-state: paused;
}

@keyframes fleche {
    form {}

    to {
        bottom: 0%;
    }
}

/* SECTION 1 */

#s1 {

    min-height: 100vh;
    max-height: fit-content;
    transform-style: preserve-3d;
    transition: 750ms ease-in-out;
}

#s1 #galerie_1 {
    width: fit-content;
    margin: 5% 200px 5% 200px;
    backdrop-filter: blur(2px);
}

#s1 #galerie_2 {
    width: fit-content;
    margin: 0 200px 5% 200px;

}

#s1 #galerie_3 {
    width: fit-content;
    margin: 5% 200px;

}

#s1 .g {
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}

#s1 .g p {

    padding: 10px;
}

#s1 .g p strong {
    color: rgb(255, 99, 99);
    font-size: 1.2em;
}

#bg1 {
    position: absolute;
    background: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
    width: 100%;
    height: 100vh;
    clip-path: polygon(100% 60%, 100% 100%, 0 100%, 0 30%);
    z-index: -1;
}

#bg2 {
    position: absolute;
    background: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
    width: 100%;
    height: 100vh;
    clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 60%);
    z-index: -1;
}

#s1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
}

#s1 .un {
    transform: translateZ(calc(50vw - 15px));
}

#s1 .deux {
    transform: rotateY(90deg) translateZ(50vw);
}

#fl_accueil {
    position: absolute;
    top: 50%;
    right: 50px;
    padding: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 750ms ease;
}

#fl_accueil:hover::before {
    cursor: pointer;
    opacity: 1;
    top: -100%;
}


#fl_accueil::before {
    content: 'More Information';
    position: absolute;
    top: 0%;
    width: min-content;
    font-size: 1.2em;
    opacity: 0;
    background-color: black;
    padding: 20px;
    transition: 500ms ease;
    border-radius: 20px;
    font-family: 'Titillium Web', sans-serif;
}


#fl_accueil_retour {
    position: absolute;
    top: 50%;
    left: 50px;
    padding: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    transform: translateY(-50%) rotateZ(180deg);
}

/* SECTION 2 */


#s2 {

    background-image: linear-gradient(45deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%, rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%, rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%, rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%, rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%, rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%, rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%, rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%), linear-gradient(112.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%, rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%, rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%, rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%, rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%, rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%, rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%, rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%), linear-gradient(67.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%, rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%, rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%, rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%, rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%, rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%, rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%, rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%), linear-gradient(90deg, rgb(24, 15, 143), rgb(170, 57, 157));
    background-blend-mode: overlay, overlay, overlay, normal;
}

#bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 30%, 0 0, 0 0);
    background: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
}

#s2 #slider {
    position: absolute;
    top: 20%;
    margin-inline: auto;
    width: 100%;
    height: 300px;
}

#s2 .container {
    position: relative;
    width: calc(530px + 5%);
    height: 100%;
    transform-style: preserve-3d;
}



#s2 .face {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    z-index: 1;

}

#s2 .face p {
    font-size: 4em;
    font-family: 'Hammersmith One', sans-serif;
    line-height: 400px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#s2 .un {
    background: url(/image/codage.png);
    background-repeat: no-repeat;

}


#s2 .un p {
    background-image: linear-gradient(0, rgba(115, 145, 116, 0.5) 0%, rgba(115, 145, 116, 0.5) 7%, rgba(135, 156, 101, 0.5) 7%, rgba(135, 156, 101, 0.5) 22%, rgba(154, 166, 86, 0.5) 22%, rgba(154, 166, 86, 0.5) 30%, rgba(174, 177, 71, 0.5) 30%, rgba(174, 177, 71, 0.5) 53%, rgba(194, 188, 55, 0.5) 53%, rgba(194, 188, 55, 0.5) 88%, rgba(214, 199, 40, 0.5) 88%, rgba(214, 199, 40, 0.5) 89%, rgba(233, 209, 25, 0.5) 89%, rgba(233, 209, 25, 0.5) 97%, rgba(253, 220, 10, 0.5) 97%, rgba(253, 220, 10, 0.5) 100%), linear-gradient(90deg, rgb(254, 151, 143) 0%, rgb(254, 151, 143) 30%, rgb(247, 131, 131) 30%, rgb(247, 131, 131) 31%, rgb(239, 110, 119) 31%, rgb(239, 110, 119) 47%, rgb(232, 90, 107) 47%, rgb(232, 90, 107) 49%, rgb(225, 70, 96) 49%, rgb(225, 70, 96) 80%, rgb(218, 50, 84) 80%, rgb(218, 50, 84) 86%, rgb(210, 29, 72) 86%, rgb(210, 29, 72) 87%, rgb(203, 9, 60) 87%, rgb(203, 9, 60) 100%);
}

#s2 .deux {
    background: url(/image/controller.png);
    background-repeat: no-repeat;


}

#s2 .deux p {
    background-image: linear-gradient(0, hsla(146, 77%, 79%, 0.47) 0%, hsla(146, 77%, 79%, 0.47) 16.667%, hsla(206, 77%, 79%, 0.47) 16.667%, hsla(206, 77%, 79%, 0.47) 33.334%, hsla(266, 77%, 79%, 0.47) 33.334%, hsla(266, 77%, 79%, 0.47) 50.001%, hsla(326, 77%, 79%, 0.47) 50.001%, hsla(326, 77%, 79%, 0.47) 66.668%, hsla(26, 77%, 79%, 0.47) 66.668%, hsla(26, 77%, 79%, 0.47) 83.335%, hsla(86, 77%, 79%, 0.47) 83.335%, hsla(86, 77%, 79%, 0.47) 100.002%), linear-gradient(90deg, hsl(318, 83%, 76%) 0%, hsl(318, 83%, 76%) 16.667%, hsl(18, 83%, 76%) 16.667%, hsl(18, 83%, 76%) 33.334%, hsl(78, 83%, 76%) 33.334%, hsl(78, 83%, 76%) 50.001%, hsl(138, 83%, 76%) 50.001%, hsl(138, 83%, 76%) 66.668%, hsl(198, 83%, 76%) 66.668%, hsl(198, 83%, 76%) 83.335%, hsl(258, 83%, 76%) 83.335%, hsl(258, 83%, 76%) 100.002%);
}

#s2 .trois {
    background: url(/image/fonctionnement.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

#s2 .trois p {

    background-image: linear-gradient(0deg, rgba(252, 6, 233, 0.52) 0%, rgba(252, 6, 233, 0.52) 11%, rgba(226, 34, 234, 0.52) 11%, rgba(226, 34, 234, 0.52) 21%, rgba(201, 63, 235, 0.52) 21%, rgba(201, 63, 235, 0.52) 26%, rgba(175, 91, 236, 0.52) 26%, rgba(175, 91, 236, 0.52) 43%, rgba(149, 120, 237, 0.52) 43%, rgba(149, 120, 237, 0.52) 45%, rgba(123, 148, 238, 0.52) 45%, rgba(123, 148, 238, 0.52) 51%, rgba(98, 177, 239, 0.52) 51%, rgba(98, 177, 239, 0.52) 90%, rgba(72, 205, 240, 0.52) 90%, rgba(72, 205, 240, 0.52) 100%), linear-gradient(90deg, rgb(15, 43, 161) 0%, rgb(15, 43, 161) 36%, rgb(37, 72, 158) 36%, rgb(37, 72, 158) 39%, rgb(59, 100, 155) 39%, rgb(59, 100, 155) 60%, rgb(81, 129, 152) 60%, rgb(81, 129, 152) 66%, rgb(103, 158, 148) 66%, rgb(103, 158, 148) 68%, rgb(125, 187, 145) 68%, rgb(125, 187, 145) 74%, rgb(147, 215, 142) 74%, rgb(147, 215, 142) 79%, rgb(169, 244, 139) 79%, rgb(169, 244, 139) 100%);
}

#s2 .quatre {
    background: url(/image/maths.png);
    background-repeat: no-repeat;
    background-position: 90% 0;

}

#s2 .quatre p {
    background-image: linear-gradient(200deg, rgba(133, 133, 133, 0.52) 0%, rgba(133, 133, 133, 0.52) 34%, rgba(96, 96, 96, 0.52) 34%, rgba(96, 96, 96, 0.52) 69%, rgba(59, 59, 59, 0.52) 69%, rgba(59, 59, 59, 0.52) 100%), linear-gradient(90deg, rgb(4, 222, 252) 0%, rgb(4, 222, 252) 12.5%, rgb(17, 194, 235) 12.5%, rgb(17, 194, 235) 25%, rgb(30, 165, 219) 25%, rgb(30, 165, 219) 37.5%, rgb(43, 137, 202) 37.5%, rgb(43, 137, 202) 50%, rgb(57, 108, 185) 50%, rgb(57, 108, 185) 62.5%, rgb(70, 80, 168) 62.5%, rgb(70, 80, 168) 75%, rgb(83, 51, 152) 75%, rgb(83, 51, 152) 87.5%, rgb(96, 23, 135) 87.5%, rgb(96, 23, 135) 100%);
}

#s2 .quatre {
    z-index: 1;
}

#s2 .nav_slider {
    position: relative;
    width: calc(300px + 20%);
    height: fit-content;
    top: calc(20% + 350px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10%;
}

#s2 .nav_slider span {
    background: white;
}

#s2 .nav_slider img:nth-child(1) {
    transform: rotateZ(180deg);
    z-index: 5;
}

#s2 .nav_slider span {
    width: 32px;
    height: 2px;
    z-index: 5;
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s2 .nav_slider span:hover {
    cursor: pointer;
    background: rgb(255, 110, 110) !important;
}

#s2 .nav_slider span::after {
    position: absolute;
    top: -10px;
    font-size: 1.2em;
    padding-inline: 20px;
    padding-bottom: 10px;
}

#s2 .nav_slider span:nth-child(2):after {
    content: '1';
}

#s2 .nav_slider span:nth-child(3):after {
    content: '2';
}

#s2 .nav_slider span:nth-child(4):after {
    content: '3';
}

#s2 .nav_slider span:nth-child(5):after {
    content: '4';
}

#s2 #bg4 {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
    clip-path: polygon(100% 60%, 0 100%, 100% 100%);

}

/* SECTION 3 */

#s3 {

    background-image: linear-gradient(45deg, rgb(86, 95, 151) 0%, rgb(86, 95, 151) 63%, rgb(105, 118, 165) 63%, rgb(105, 118, 165) 75%, rgb(125, 141, 179) 75%, rgb(125, 141, 179) 81%, rgb(144, 165, 193) 81%, rgb(144, 165, 193) 85%, rgb(164, 188, 207) 85%, rgb(164, 188, 207) 90%, rgb(183, 211, 221) 90%, rgb(183, 211, 221) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#s3 #bg5 {
    position: absolute;
    clip-path: polygon(0 0, 0 30%, 100% 0);
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
}

#s3 .cont {
    position: relative;
    width: calc(610px + 30%);
    min-width: 400px;
    margin-left: 150px;
    height: 70%;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: center;
    transition: all 1s ease-out;
    opacity: 0;
    transform: translateY(50%);


}

#s3 .cont.active {
    opacity: 1;
    transform: translateY(0%);
}

#s3 .cont i {
    position: absolute;
    top: -150px;
    animation: particle linear infinite;
    filter: blur(2px);
}

@keyframes particle {
    from {
        top: -150px;
    }

    to {
        top: 100%;
    }
}

#s3 .cont h1 {
    font-size: 5em;
    font-family: 'Titillium Web', sans-serif;
    z-index: 0;
    transition: 500ms ease;
    padding: 10px;
    z-index: 1;
}

#s3 .cont #content {
    width: 100%;
    height: 100%;
    transition: 500ms ease-out;
    z-index: 2;
    background-image: linear-gradient(45deg, rgb(86, 95, 151) 0%, rgb(86, 95, 151) 63%, rgb(105, 118, 165) 63%, rgb(105, 118, 165) 75%, rgb(125, 141, 179) 75%, rgb(125, 141, 179) 81%, rgb(144, 165, 193) 81%, rgb(144, 165, 193) 85%, rgb(164, 188, 207) 85%, rgb(164, 188, 207) 90%, rgb(183, 211, 221) 90%, rgb(183, 211, 221) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}


#s3 .cont #content p:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 1.3em;
    width: 80%;
    font-family: 'Titillium Web', sans-serif;
}

#s3 .cont #content img:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

#s3 .cont #content p:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 1.2em;
    width: 80%;
}

#s3 .cont #image_project {
    width: fit-content;
    padding-inline: 10%;
    margin-left: -10%;
    z-index: 5;
    height: 70%;
    background-color: rgb(86, 95, 151);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

#s3 .cont #image_project p {
    font-size: 1.2em;
}

#img1 {
    transition: all 400ms ease-out;
    filter: drop-shadow(-10px 10px 10px black);
}



/* ----SECTION  4 --- */
#s4 {
    background: #34e89e;
    background: linear-gradient(to right, #0f3443, #34e89e);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg6 {
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
}